<h1> My Wines</h1>

<%if @wines%>
<%@wines.each do |wine|%>
<p><%=link_to wine.title, wine_path(wine)%></p>
<p><%= image_tag(wine.wine_image) %></p>
<p><%= wine.price %></p>
<%if current_user%>
<p><%= link_to "Buy Now!", new_order_path(wine_id: wine.id)%></p>
<%end%>
<%end%>
<%end%>